# Starbucks Customer Behaviour (Data Cleaning, Formatting & Processing)

This notebook has been created to merge, clean & process the data into a format useful for modelling and anaylsis. It follows on from the initial analysis done to gain a better understanding of the data. It has also been used to split the input data into the demographics that will be used to decided how the marketing campagins should be judged.

### Imports

In [1]:
# import general functions
import pandas as pd
import numpy as np
import json

### Functions

In [2]:
def clean_transcript_data(data):
    """
    this process cleans the values column and formats the transcript data
    """
    # creates a column for the type of interaction   
    data['interaction_value'] = [list(x.keys())[0] for x in data['value']]
    
    # creates a column related to the value amount or id    
    data['id'] = [list(x.values())[0] for x in data['value']]
    
    # drops the value column
    data = data.drop(columns=['value'])
    
    # cleans the interaction type column so offer id is consistent
    data['interaction_value'] = [x.replace('offer id','offer_id') for x in data['interaction_value']]
    
    # split out interaction_type
    temp_df = pd.get_dummies(data['interaction_value'])

    # combine the dataframes
    data = pd.concat([temp_df, data], axis=1, sort=True)
    
    # split out event
    temp_df = pd.get_dummies(data['event'])

    # combine the dataframes
    data = pd.concat([temp_df, data], axis=1, sort=True)

    # drop the original columns
    data = data.drop(columns=['interaction_value','event'])
    
    return data # returns the clean transcript data


def clean_profile_data(data):
    """
    this process clean age, income and became_member_on columns in the profile data
    """
    # rename the column 'id' to person
    data.columns = ['age','member joined','gender','person' ,'income']
    
    # replace 118 in the age column with a zero indicating no age 
    # it might be worth looking at this a seperate group of users later on
    data['age'] = data['age'].replace(118,0)

    # update the became_member_on column to a datetime format
    data['member joined'] = pd.to_datetime(data['member joined'], format='%Y%m%d')
    
    # replace the NaN's in the income
    data['income'] = data['income'].fillna(0)
    
    # replace M, F, O and None types to get the 4 groups of customers
    data['gender'] = data['gender'].replace('M','male')
    data['gender'] = data['gender'].replace('F','female')
    data['gender'] = data['gender'].replace('O','other')
    data['gender'] = data['gender'].fillna('unknown gender')

    # split the column into seperate columns
    temp_df = pd.get_dummies(data['gender'])

    # combine the dataframes
    data = pd.concat([temp_df, data], axis=1, sort=True)

    # drop the original column
    data = data.drop(columns=['gender'])

    return data

def clean_portfolio_data(data):
    """
    this process has been created to clean columns in the profile data
    """
    # splits the channels column into seperate columns
    # creates temporary dataframes and lists  
    temp_df = pd.DataFrame(columns=['web', 'email', 'mobile','social'])
    temp_list = []

    # loop through the rows and attach the values to a dic   
    for index, row in data.iterrows():
        for value in row['channels']:
             temp_list.append({'index': index, 'value':value})

    # change the list into dataframe
    temp_df = temp_df.append(temp_list, ignore_index=False, sort=True)
    temp_df = temp_df.groupby('index')['value'].value_counts()
    temp_df = temp_df.unstack(level=-1).fillna(0)
    
    # combine the dataframes
    data = pd.concat([temp_df, data], axis=1, sort=True)
    
    # split the column into seperate columns
    temp_df = pd.get_dummies(data['offer_type'])

    # combine the dataframes
    data = pd.concat([temp_df, data], axis=1, sort=True)

    # drop the original columns
    data = data.drop(columns=['offer_type','channels'])
    
    return data

### Global Variables

In [3]:
# read in the different datasources
portfolio_df = pd.read_json('data/portfolio.json', lines=True)
profile_df = pd.read_json('data/profile.json', lines=True)
transcript_df = pd.read_json('data/transcript.json', lines=True)

### Initial Processing

Below I will run some initial processing of the three input datasets. Details on what these datasets contain can be found in the 'Customer Behaviour notebook' which was ran as a prerequisite to this notebook. 

The intital processing has been ran to split out an catagorical columns so that they have dummies of 1's and 0's depending on if they are true or not. It has cleaned & reformatted some of the data in date columns, replaced NaN vaues as 0 and updated column names so they are consistent across each of the dataframes. The functions can be found above or in the .py file containing all functions that will be used in  future notebooks.

In [4]:
# run the initial cleaning on each dataset
clean_port_df = clean_portfolio_data(portfolio_df)
clean_port_df.head()

,bogo,discount,informational,email,mobile,social,web,difficulty,duration,id,reward
0.0,1,0,0,1.0,1.0,1.0,0.0,10,7,ae264e3637204a6fb9bb56bc8210ddfd,10
1.0,1,0,0,1.0,1.0,1.0,1.0,10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,10
2.0,0,0,1,1.0,1.0,0.0,1.0,0,4,3f207df678b143eea3cee63160fa8bed,0
3.0,1,0,0,1.0,1.0,0.0,1.0,5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,5
4.0,0,1,0,1.0,0.0,0.0,1.0,20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,5

In [5]:
clean_prof_df = clean_profile_data(profile_df)
clean_prof_df.head()

,female,male,other,unknown gender,age,member joined,person,income
0,0,0,0,1,0,2017-02-12,68be06ca386d4c31939f3a4f0e3dd783,0.0
1,1,0,0,0,55,2017-07-15,0610b486422d4921ae7d2bf64640c50b,112000.0
2,0,0,0,1,0,2018-07-12,38fe809add3b4fcf9315a9694bb96ff5,0.0
3,1,0,0,0,75,2017-05-09,78afa995795e4d85b5d9ceeca43f5fef,100000.0
4,0,0,0,1,0,2017-08-04,a03223e636434f42ac4c3df47e8bac43,0.0

In [6]:
clean_trans_df = clean_transcript_data(transcript_df)
clean_trans_df.head()

,offer completed,offer received,offer viewed,transaction,amount,offer_id,person,time,id
0,0,1,0,0,0,1,78afa995795e4d85b5d9ceeca43f5fef,0,9b98b8c7a33c4b65b9aebfe6a799e6d9
1,0,1,0,0,0,1,a03223e636434f42ac4c3df47e8bac43,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
2,0,1,0,0,0,1,e2127556f4f64592b11af22de27a7932,0,2906b810c7d4411798c6938adc9daaa5
3,0,1,0,0,0,1,8ec6ce2a7e7949b1bf142def7d0e0586,0,fafdcd668e3743c1bb461111dcafc2a4
4,0,1,0,0,0,1,68617ca6246f4fbc85e91a2a49552598,0,4d5c57ea9a6940dd891ad53e9dbe8da0

Now that some intital cleaning has been performed we can look further into what inputs we will need for future notebooks including datasets that contain all offer related transactions, one's that contain any unifulenced transactions and a dataset containing all demographic information.

### Offer Influence

The first thing we probably need to decide is how we will determine when an offer has influnced a purchase. We have three different types of offers that need to be handled slightly differently:

 - BOGO (Buy One Get One Free): We can condsider a user has been influneced by this offer when they have viewed the   offer and they have completed the offer at any point throughout the offer period.
 
 
 - Discount: Again we can consider a user has been influenced if they have viewed the offer and completed it in the offer period. We can also consider that they have been influenced on any purchases between viewing and completing the offer as it may be an accumulation offer (e.g. spend more than 10 dollars between a certain period).

- Informational: These are the most difficult to assess in any situation as it's difficult to measure what influence they have had. For this offer type we'll assume that a user was under the influence for the duration of the offer after seeing the offer. Any purchase in that period that also completed the offer will be treated as being influenced.

I'm going to assume if an offer was not completed then a user was not influenced by the offer. Obviously a user could have tried to complete a discount offer but failed but this is difficult to tell from the data provided here. And if the influence had been large enough they would have finished completing the offer.

For the first step I will therefore split out the transactions from the offer data:

In [25]:
# split out the all the transactions
transactions_df = transactions(clean_trans_df)
transactions_df.shape

def transactions(data):
    """
    returns all the transactions from the transcript dataframe
    """
    transactions_df = data[data['transaction'] == 1]
    transactions_df = transactions_df[['person','time','id']]
    transactions_df.columns = ['person','transaction_time','spend']
    
    return transactions_df

Now we can split out the offers and process them seperately based on the criteria above:

In [116]:
def offers(transcript_data, portfolio_data):
    """
    returns all of the offers that were received/viewed/completed combined with portfolio data
    """
    # keep only the recived offers
    received_offer = transcript_data[transcript_data['offer received'] == 1]
    received_offer = received_offer[['offer received','person', 'time', 'id']]
    received_offer.columns = ['offer received','person', 'time_received', 'id_offer']    
    
    # keep only the viewed offers
    veiwed_offer = transcript_data[transcript_data['offer viewed'] == 1]
    veiwed_offer = veiwed_offer[['offer viewed','person', 'time', 'id']]
    veiwed_offer.columns = ['offer viewed','person', 'time_viewed', 'id_offer']
    
    # keep all the offers completed data as informational campaigns don't have a completed flag
    completed_offer = transcript_data
    completed_offer = completed_offer[['offer completed','person', 'time', 'id']]
    completed_offer.columns = ['offer completed','person', 'time_completed', 'id_offer']
    
    # merge the offers data into one dataframe based on id and person
    merged_veiws = received_offer.merge(veiwed_offer, on=['person','id_offer']) 
    merged_completed = merged_veiws.merge(completed_offer, on=['person','id_offer']) 
    
    # drop anywhere the offer was recived after being viewed (not useful)
    merged_completed = merged_completed[merged_completed['time_viewed'] > 
                                        merged_completed['time_received']]
    
    # merges all of the offer data with info in the portfolio data
    portfolio_data = portfolio_data.rename(columns = {'id':'id_offer'})
    offers = merged_completed.merge(portfolio_data, on=['id_offer'])
    
    # change duration time to hours
    offers['duration'] = offers['duration']*24
    
    # update informational offers to impact users for the days after  
    offers.duration = np.where(offers.informational.eq(1), 
                               (offers.time_viewed +(offers.duration)), 
                               offers.duration)
    
    return offers

def influenced_bogo(transcript_data, portfolio_data):
    """
    this function has been created to keep only BOGO offers that influenced a purchase
    """
    # gets all of the offers that were received/viewed/completed formatted together
    offer_data = offers(transcript_data, portfolio_data)
    
    # select only the bogo offers and have been completed
    bogo_offers = offer_data[(offer_data['bogo'] == 1) & (offer_data['offer completed'] == 1)]
    
    # removes any that were completed prior to being viewed
    bogo_offers = bogo_offers[bogo_offers['time_completed'] >= bogo_offers['time_viewed']]
    
    # removes offers that were completed outside of the offer timeframe (indicating it was a second offer)
    bogo_offers = bogo_offers[bogo_offers['duration'] <= (bogo_offers['time_completed'] - 
                                                          bogo_offers['time_received'])]

    # creates the transaction data
    transactions_data = transactions(transcript_data)
    
    # merge the offers and transactions
    transactions_bogo = transactions_data.merge(bogo_offers, on=['person'])
    
    # filter the tansactions keeping ones that occured at same time as the offer was complete
    transactions_bogo = transactions_bogo[transactions_bogo['transaction_time'] == 
                                          transactions_bogo['time_completed']]
    
    # remove any repeat transactions
    transactions_bogo = transactions_bogo.drop_duplicates(subset=['person','transaction_time','spend'], keep="first")
    
    return transactions_bogo

def influenced_discount(transcript_data, portfolio_data):
    """
    this function has been created to keep only discount offers that influenced a purchase
    """
    # gets all of the offers that were received/viewed/completed formatted together
    offer_data = offers(transcript_data, portfolio_data)
    
    # select only the discuont offers and have been completed
    discount_offers = offer_data[(offer_data['discount'] == 1) & (offer_data['offer completed'] == 1)]
    
    # removes offers that were completed outside of the timeframe (indicating it was a second offer)
    discount_offers = discount_offers[discount_offers['duration'] <= (discount_offers['time_completed'] - 
                                                                      discount_offers['time_received'])]

    # creates the transaction data
    transactions_data = transactions(transcript_data)
    
    # merge the offers and transactions
    transactions_discount = transactions_data.merge(discount_offers, on=['person'])
    
    # filter the tansactions keeping the ones after the offer was viewed by before it was completed
    transactions_discount = transactions_discount[(transactions_discount['transaction_time'] >= transactions_discount['time_viewed']) &
                                                 (transactions_discount['transaction_time'] <= transactions_discount['time_completed'])]
    
    # remove any repeat transactions
    transactions_discount = transactions_discount.drop_duplicates(subset=['person','transaction_time','spend'], keep="first")
    
    return transactions_discount

def influenced_informational(transcript_data, portfolio_data):
    """
    this function has been created to keep only informational offers that influenced a purchase
    """
    # gets all of the offers that were received/viewed/completed formatted together
    offer_data = offers(transcript_data, portfolio_data)
    
    # select only the informational offers
    info_offers = offer_data[(offer_data['informational'] == 1)]

    # creates the transaction data
    transactions_data = transactions(transcript_data)
    
    # merge the offers and transactions
    transactions_info = transactions_data.merge(info_offers, on=['person'])
    
    # filter the tansactions keeping the ones after the offer was viewed by before it was completed
    transactions_info = transactions_info[(transactions_info['transaction_time'] >= transactions_info['time_viewed'])]
    
    # removes transactions that happened outside of the 7 day timeframe
    transactions_info = transactions_info[transactions_info['duration'] <= (transactions_info['transaction_time'] - 
                                                                            transactions_info['time_viewed'])]
    
    # remove any repeat transactions
    transactions_info = transactions_info.drop_duplicates(subset=['person','transaction_time','spend'], keep="first")
    
    return transactions_info

In [118]:
inf_discount = influenced_discount(clean_trans_df, clean_port_df)
print(inf_discount.shape)
inf_discount.head()

(9835, 20)

,person,transaction_time,spend,offer received,time_received,id_offer,offer viewed,time_viewed,offer completed,time_completed,bogo,discount,informational,email,mobile,social,web,difficulty,duration,reward
4,629fc02d56414d91bca360decdfa9288,666,21.36,1,408,0b1e1539f2cc45b7b9fa7c272da2e1d7,1,462,1,666,0,1,0,1.0,0.0,0.0,1.0,20,240,5
8,bb0f25e23a4c4de6a645527c275cd594,162,21.62,1,0,2298d6c36e964ae4a3e7e9706d1fb8c2,1,96,1,654,0,1,0,1.0,1.0,1.0,1.0,7,168,3
10,bb0f25e23a4c4de6a645527c275cd594,264,35.95,1,0,2298d6c36e964ae4a3e7e9706d1fb8c2,1,96,1,654,0,1,0,1.0,1.0,1.0,1.0,7,168,3
12,bb0f25e23a4c4de6a645527c275cd594,450,25.18,1,0,2298d6c36e964ae4a3e7e9706d1fb8c2,1,96,1,654,0,1,0,1.0,1.0,1.0,1.0,7,168,3
14,bb0f25e23a4c4de6a645527c275cd594,474,24.4,1,0,2298d6c36e964ae4a3e7e9706d1fb8c2,1,96,1,654,0,1,0,1.0,1.0,1.0,1.0,7,168,3

In [119]:
inf_bogo = influenced_bogo(clean_trans_df, clean_port_df)
print(inf_bogo.shape)
inf_bogo.head()

(2235, 20)

,person,transaction_time,spend,offer received,time_received,id_offer,offer viewed,time_viewed,offer completed,time_completed,bogo,discount,informational,email,mobile,social,web,difficulty,duration,reward
5,3e621194f72e40d7a0b695ee9b7c38b7,396,14.9,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,1,348,1,396,1,0,0,1.0,1.0,1.0,1.0,10,120,10
9,99297ea01107436fa8c2e2bc86f55d89,372,8.97,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,1,330,1,372,1,0,0,1.0,1.0,0.0,1.0,5,168,5
24,afce4cf8194f4e90a3e92da941a23601,534,15.19,1,0,ae264e3637204a6fb9bb56bc8210ddfd,1,18,1,534,1,0,0,1.0,1.0,1.0,0.0,10,168,10
49,c3321bc76743445c9103eef0ce9d833b,552,46.14,1,336,4d5c57ea9a6940dd891ad53e9dbe8da0,1,360,1,552,1,0,0,1.0,1.0,1.0,1.0,10,120,10
66,5152fa6375184287b06e2fd0d5abed34,582,11.79,1,0,f19421c1d4aa40978ebb69ca19b0e20d,1,534,1,582,1,0,0,1.0,1.0,1.0,1.0,5,120,5

In [120]:
inf_informational = influenced_informational(clean_trans_df, clean_port_df)
print(inf_informational.shape)
inf_informational.head()

(14174, 20)

,person,transaction_time,spend,offer received,time_received,id_offer,offer viewed,time_viewed,offer completed,time_completed,bogo,discount,informational,email,mobile,social,web,difficulty,duration,reward
32,b2f1cd155b864803ad8334cdf13c4bd2,222,27.45,1,0,5a8bc65990b245e5a138643cd4eb9837,1,66,0,0,0,0,1,1.0,1.0,1.0,0.0,0,138,0
36,b2f1cd155b864803ad8334cdf13c4bd2,384,29.95,1,0,5a8bc65990b245e5a138643cd4eb9837,1,66,0,0,0,0,1,1.0,1.0,1.0,0.0,0,138,0
40,b2f1cd155b864803ad8334cdf13c4bd2,468,24.55,1,0,5a8bc65990b245e5a138643cd4eb9837,1,66,0,0,0,0,1,1.0,1.0,1.0,0.0,0,138,0
42,b2f1cd155b864803ad8334cdf13c4bd2,570,28.1,1,168,3f207df678b143eea3cee63160fa8bed,1,198,0,168,0,0,1,1.0,1.0,0.0,1.0,0,294,0
270,fe97aa22dd3e48c8b143116a8403dd52,624,14.77,1,168,3f207df678b143eea3cee63160fa8bed,1,198,0,168,0,0,1,1.0,1.0,0.0,1.0,0,294,0

It's possible that the some of the transactions above would have been brought regardless of if the user had seen the ads esspecially in the case of the informational offers. In the next part of this processing notebook we will calculate how much users spend on average over time and per transaction. This will help to further process the above transactions and also decided help to decide how to split the different demographic groups.

### Normal Customer Behaviour

In [121]:
# Now that we have all the influenced transactions we can find the ones not influenced by offers
def norm_transactions(transcript_data, portfolio_data):
    """
    produces all the transactions that weren't influenced by offers
    """
    # creates the transaction data
    transactions_data = transactions(transcript_data)
    
    # all offer affected transactions
    inf_discount = influenced_discount(clean_trans_df, clean_port_df)
    inf_bogo = influenced_bogo(clean_trans_df, clean_port_df)
    inf_informational = influenced_informational(clean_trans_df, clean_port_df)
    
    # combine all the influenced transcations    
    inf_trans = inf_informational.append(inf_discount.append(inf_bogo))
    
    # drop to have the same columns as all transactions    
    inf_trans = inf_trans[['person', 'transaction_time', 'spend']]
    
    # remove offer related transactions
    norm_trans = pd.concat([transactions_data, inf_trans]).drop_duplicates(keep=False)
    
    return norm_trans

In [122]:
uninflunced_trans = norm_transactions(clean_trans_df, clean_port_df)
uninflunced_trans.head()

                                 person  transaction_time  spend
12654  02c083884c7d45b39cc68e1314fec56c                 0   0.83
12657  9fa9ae8f57894cc9a3b8a9bbe0fc1b2f                 0  34.56
12659  54890f68699049c2a04d415abc25e717                 0  13.23
12670  b2f1cd155b864803ad8334cdf13c4bd2                 0  19.51
12671  fe97aa22dd3e48c8b143116a8403dd52                 0  18.97

Now that we have all the normal transactions we can create useful metrics based on the users normal behaviour. These will include average transaction amount, weekly transactions and cost. It's better not to look at overall transactons as this will be heavily skewed to users who have been using the app a long time. In a more indepth analysis seasonal trends, trends in the run up to offers and other changing habits could be taken into account. However for this analysis I will just look at long term trends over the whole of the users membership.

In [187]:
def user_transactions(profile, transactions):
    """
    this creates useful information of individual users transactions
    """
    # list of consumers in the transaction data
    consumers = transactions.groupby('person').sum().index

    # calculate the total transaction values for a consumer
    consumer_spend = transactions.groupby('person')['spend'].sum().values

    # calculate the number of transactions per consumer
    consumer_trans = transactions.groupby('person')['spend'].count().values

    # create a dataframe with spend info per consumer
    consumer_data = pd.DataFrame(consumer_trans, index=consumers, columns=['total transactions'])

    # add the total transaction column
    consumer_data['total spend'] = consumer_spend 
    
    # average spend per transaction    
    consumer_data['spend per trans'] = consumer_data['total spend']/consumer_data['total transactions']
    
    # combine profile and transaction data
    consumer_profile = profile.merge(consumer_data, on=['person']).fillna(0)
    
    # I will take the last date the final day data has been collected
    final_date = consumer_profile['member joined'].max()
    
    # membership length in weeks
    consumer_profile['membership length'] = [round((final_date - x).days / 7,0) for x in consumer_profile['member joined']]

    return consumer_profile

In [188]:
consumer_profiles = user_transactions(clean_prof_df, uninflunced_trans)
consumer_profiles.head()

,female,male,other,unknown gender,age,member joined,person,income,total transactions,total spend,spend per trans,membership length
0,0,0,0,1,0,2017-02-12,68be06ca386d4c31939f3a4f0e3dd783,0.0,9,20.40,2.266667,76.0
1,1,0,0,0,55,2017-07-15,0610b486422d4921ae7d2bf64640c50b,112000.0,3,77.01,25.670000,54.0
2,0,0,0,1,0,2018-07-12,38fe809add3b4fcf9315a9694bb96ff5,0.0,6,14.30,2.383333,2.0
3,1,0,0,0,75,2017-05-09,78afa995795e4d85b5d9ceeca43f5fef,100000.0,5,110.99,22.198000,63.0
4,0,0,0,1,0,2017-08-04,a03223e636434f42ac4c3df47e8bac43,0.0,3,4.65,1.550000,51.0

Now that I have how much users normally spend we can try to determine if transactions made throughout the offer period were influenced by the offer or not for each user. There are a number of ways this can be done but again it's probably best to use a unique approch per offer:

- For the BOGO offers that invole buying multiple items it would be most simple just to see the average transaction order for the user and then compair that to completed orders. If the completed orders plus the discount are significatly higher (close to two times what they would normally pay) we know the that they've been very likely influenced by the offer.


- The discount offers are slightly more difficult as they cover multiple transactions leading up to a completed offer. In this case we can look at how much a user normally spends over the given offer period and see if the dicount period is significantly higher. This is difficult on our current dataset as we don't have much history on spend data prior to this period. To get around this problem we could split the users into certain demographics and look at their behaviour as a whole.


- Similarly, informational offers are the most tricky to deal with and could be treated in a numeber of ways. We could for instance build a model for each specific users spending habits but this would be very time consuming and the data we have per user is limited so is out of the scope of this project. Again we can judge them based on their demographic and build a model of normal spending patterns off that. 

For the discount and informational offers it's more difficult to see if a user was influenced into spending more than their normal amount on a user by user level. Instead I will look at different demographics of users with the consumer profile above and judge if a user has been influenced based on that. In the next notebook I will assess how we should be splitting our user data into certain demographics.

In [184]:
def bogo_filter(inf_bogo, consumer_profiles):
    # merge the two datasets to have consumer data for each transaction
    user_bogo = inf_bogo.merge(consumer_profiles, on=['person'])
    
    # only keep offers where the spend was almost 2x that of the normal persons spend
    fil_bogo = user_bogo[(user_bogo['spend'] + user_bogo['reward']) > 2 * user_bogo['spend per trans']]
    
    return fil_bogo